<%= render "shared/second_header" %>

<div class="sign-up-form">
  <%= form_for(resource, as: resource_name, url: user_registration_path ) do |f| %>

    <div class="form-group">
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class='form-text-wrap'>
        <label class="form-text">ニックネーム</label>
      </div>
      <%= f.text_area :nickname, class:"input-default", id:"nickname" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス</label>
      </div>
      <%= f.email_field :email, class:"input-default", id:"email", autofocus: true %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">パスワード (半角6文字以上の英数字)</label>
      </div>
      <%= f.password_field :password, class:"input-default", id:"password" %>
      <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">パスワード(確認)</label>
      </div>
      <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation"%>
    </div>

    <div class="form-group">
      <div class="weight-bold-text">
        <%= f.collection_select(:state_id, State.all, :id, :name, {}, {class:"select-box", id:"state_id"}) %>
      </div>
    </div>
    
    <div class='register-btn'>
      <%= f.submit "会員登録" ,class:"register-red-btn" %>
    </div>
  <% end %>
</div>

