<%= render "shared/second_header" %>

<div class="abouts" >
  <div class="abouts-contents">
    <div class="abouts-top">
      <p style="text-align: center;" class="abouts-top-comments-1" >
        奈良でいい食材を探す”なら”<br>
      </p>
      <p style="text-align: center;" class="abouts-top-comments-2" >
        食べたい”奈良”で探せばいいじゃない
      </p>
    </div>
  </div>
</div>

<div class="abouts-images">
  <div class="abouts-image-1">
    <%= image_tag 'abouts1.jpg', class: 'abouts-top-image1', alt: '食べたい奈良とはTOP' %>
  </div>
</div>

<div class="tabenara">
  <div class="tabenara-top">
    <div class="tabenara-top-con">
      <div class="tabenara-top-title">
        <p style="text-align: center;" class="tabenara-top-title1" >
          食べたい奈良とは
        </p>
      </div>
    </div>
  </div>
</div>

<div class="tabenara-content">
  <div class=tabenara-contents>
    <p style="text-align: center;" class="tabenara-txt">
      食べたい奈良は
    </p>
    <p style="text-align: center;" class="tabenara-txt">
      奈良の魅力溢れる食材を発信していくコミュニティサイトです。
    </p>
    <p style="text-align: center;" class="tabenara-txt">
      こだわりを持った生産者と直接コミュニケーションが取れます。
    </p>
    <p style="text-align: center;" class="tabenara-txt-pop">
      だから安心！だから美味しい！
    </p>
    <p style="text-align: center;" class="tabenara-txt">
      生産者とメッセージのやりとりができるので、
    </p>
    <p style="text-align: center;" class="tabenara-txt">
      育成方法や直伝レシピなど、
    </p>
    <p style="text-align: center;" class="tabenara-txt">
      気になった事はどんどん聞いてみましょう！
    </p>
    <p style="text-align: center;" class="tabenara-txt">
      珍しい食材や新しい発見が、見つかるかもしれませんよ？
    </p>
  </div>
</div>

<div class="album">
	<%= image_tag 'image1.jpg', class: 'img1', alt: '牛' %>
	<%= image_tag 'image2.jpg', class: 'img2', alt: '鶏' %>
  <%= image_tag 'image3.jpg', class: 'img3', alt: '野菜' %>
</div>

<div class="end">
  <div class="end-top">
    <p style="text-align: center;" class="end-pop">
      気づいていない奈良の魅力、
    </p>
    <p style="text-align: center;" class="end-pop">
      どんどん再発見していきましょう！
    </p>
  </div>
</div>


<%= render "shared/footer" %>